<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gofar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/awe-booking-font.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/demo.css">
    <link id="colorreplace" rel="stylesheet" type="text/css" href="../../static/userResorces/css/blue.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1031554816897182');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1031554816897182&ev=PageView&noscript=1"
    /></noscript>
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]--><!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10">
<![endif]--><!--[if IE 9]><body class="ie9 lt-ie10"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<body><!--<![endif]-->
<div id="page-wrap">
    <!--<div class="preloader"></div>-->
    {% include 'user/header.html' %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="contact-page__map">
                        <div data-latlong="21.036697, 105.834871"></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="contact-page__form">
                        <div class="title"><span>We would like to know you</span>
                            <h2>CONTACT US</h2></div>
                        <div class="descriptions"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id
                            tempor dolor, id cursus sem. Vestibulum placerat non nibh et sodales.</p></div>
                        <form class="contact-form" action="processContact.php" method="post">
                            <div class="form-item"><input type="text" value="Your Name *" name="name"></div>
                            <div class="form-item"><input type="email" value="Your Email *" name="email"></div>
                            <div class="form-item"><input type="text" value="Your Website" name="subject"></div>
                            <div class="form-item form-captcha"><img src="images/img/captcha-demo.png" alt=""
                                                                     class="wpcf7-captchac"> <span
                                    class="wpcf7-form-control-wrap"><input type="text" value="Captcha"></span></div>
                            <div class="form-textarea-wrapper"><textarea name="message">Company name</textarea></div>
                            <div class="form-actions"><input type="submit" value="Send" class="submit-contact"></div>
                            <div id="contact-content"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'user/footer.html' %}
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/theia-sticky-sidebar.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/jquery-ui.js"></script>
<script type="text/javascript" src="../../static/userResorces/js/scripts.js"></script>
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-20585382-5', 'megadrupal.com');
ga('send', 'pageview');</script>
<script type="text/javascript" src="js/lib/jquery.form.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
<script type="text/javascript">/*==============================
            Ajax contact form
        ==============================*/
if ($(".contact-form").length > 0) {
    // Validate the contact form
    $('.contact-form').validate({
        // Add requirements to each of the fields
        rules: {
            name: {
                required: true,
                minlength: 2
            },
            email: {
                required: true,
                email: true
            },
            message: {
                required: true,
                minlength: 10
            }
        },

        // Specify what error messages to display
        // when the user does something horrid
        messages: {
            name: {
                required: "Please enter your first name.",
                minlength: $.format("At least {0} characters required.")
            },
            email: {
                required: "Please enter your email.",
                email: "Please enter a valid email."
            },
            message: {
                required: "Please enter a message.",
                minlength: $.format("At least {0} characters required.")
            }
        },

        // Use Ajax to send everything to processForm.php
        submitHandler: function (form) {
            $(".submit-contact").html("Sending...");
            $(form).ajaxSubmit({
                success: function (responseText, statusText, xhr, $form) {
                    $("#contact-content").slideUp(600, function () {
                        $("#contact-content").html(responseText).slideDown(600);
                        $(".submit-contact").html("Send");
                    });
                }
            });
            return false;
        }
    });
}</script>
</body>
</html>