<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gofar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/awe-booking-font.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/userResorces/css/demo.css">
    <link id="colorreplace" rel="stylesheet" type="text/css" href="../../static/userResorces/css/blue.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1031554816897182');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1031554816897182&ev=PageView&noscript=1"
    /></noscript>
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]--><!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10">
<![endif]--><!--[if IE 9]><body class="ie9 lt-ie10"><![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<body><!--<![endif]-->
<div id="page-wrap">
    {% include "user/header.html" %}
    <!--<div class="preloader"></div>
    <header id="header-page">
        <div class="header-page__inner">
            <div class="container">
                <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                <nav class="navigation awe-navigation" data-responsive="1200">
                    <ul class="menu-list">
                        <li class="menu-item-has-children"><a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index2.html">Home 2</a></li>
                                <li><a href="index3.html">Menu hamburger</a></li>
                                <li><a href="index-dark.html">Home 1 (Dark)</a></li>
                                <li><a href="index2-dark.html">Home 2 (Dark)</a></li>
                                <li><a href="index3-dark.html">Menu hamburger (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="destinations-list.html">Destinations</a>
                            <ul class="sub-menu">
                                <li><a href="destinations-list.html">List</a></li>
                                <li><a href="destinations-grid.html">Grid</a></li>
                                <li class="menu-item-has-children"><a href="destinations-trip.html">Detail</a>
                                    <ul class="sub-menu">
                                        <li><a href="destinations-trip.html">Trips in destination</a></li>
                                        <li><a href="destinations-hotel.html">Hotels in destination</a></li>
                                        <li><a href="destinations-attraction.html">Attraction in destination</a></li>
                                        <li><a href="destinations-flight.html">Flights in destination</a></li>
                                        <li><a href="destinations-train.html">Train in destination</a></li>
                                    </ul>
                                </li>
                                <li><a href="destinations-list-dark.html">List (Dark)</a></li>
                                <li><a href="destinations-grid-dark.html">Grid (Dark)</a></li>
                                <li class="menu-item-has-children"><a href="destinations-trip.html">Detail (Dark)</a>
                                    <ul class="sub-menu">
                                        <li><a href="destinations-trip-dark.html">Trips in destination</a></li>
                                        <li><a href="destinations-hotel-dark.html">Hotels in destination</a></li>
                                        <li><a href="destinations-attraction-dark.html">Attraction in destination</a>
                                        </li>
                                        <li><a href="destinations-flight-dark.html">Flights in destination</a></li>
                                        <li><a href="destinations-train-dark.html">Train in destination</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="trip.html">Trips</a>
                            <ul class="sub-menu">
                                <li><a href="trip.html">Trips</a></li>
                                <li><a href="trip-detail.html">Trips Detail</a></li>
                                <li><a href="trip-dark.html">Trips (Dark)</a></li>
                                <li><a href="trip-detail-dark.html">Trips Detail (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="hotel.html">Hotel</a>
                            <ul class="sub-menu">
                                <li><a href="hotel.html">Hotel</a></li>
                                <li><a href="hotel-detail.html">Hotel Detail</a></li>
                                <li><a href="hotel-dark.html">Hotel (Dark)</a></li>
                                <li><a href="hotel-detail-dark.html">Hotel Detail (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="flight.html">Flight</a>
                            <ul class="sub-menu">
                                <li><a href="flight.html">Flight</a></li>
                                <li><a href="flight-detail.html">Flight Detail</a></li>
                                <li><a href="flight-dark.html">Flight (Dark)</a></li>
                                <li><a href="flight-detail-dark.html">Flight Detail (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="train.html">Train</a>
                            <ul class="sub-menu">
                                <li><a href="train.html">Train</a></li>
                                <li><a href="train-detail.html">Train Detail</a></li>
                                <li><a href="train-dark.html">Train (Dark)</a></li>
                                <li><a href="train-detail-dark.html">Train Detail (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="attraction.html">Attraction</a>
                            <ul class="sub-menu">
                                <li><a href="attraction.html">Attraction</a></li>
                                <li><a href="attraction-detail.html">Attraction Detail</a></li>
                                <li><a href="attraction-dark.html">Attraction (Dark)</a></li>
                                <li><a href="attraction-detail-dark.html">Attraction Detail (Dark)</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children current-menu-parent"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children"><a href="blog.html">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="single-post.html">Single Post</a></li>
                                        <li><a href="blog-dark.html">Blog (Dark)</a></li>
                                        <li><a href="single-post-dark.html">Single Post (Dark)</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children current-menu-parent"><a href="login.html">Log In</a>
                                    <ul class="sub-menu">
                                        <li class="current-menu-item"><a href="login.html">Log In</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Log In (Dark)</a></li>
                                        <li><a href="register.html">Register (Dark)</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="checkout-yourcart.html">Checkout</a>
                                    <ul class="sub-menu">
                                        <li><a href="checkout-yourcart.html">Your cart</a></li>
                                        <li><a href="checkout-customer.html">Customer</a></li>
                                        <li><a href="checkout-complete.html">Complete</a></li>
                                        <li><a href="checkout-yourcart-dark.html">Your cart (Dark)</a></li>
                                        <li><a href="checkout-customer-dark.html">Customer (Dark)</a></li>
                                        <li><a href="checkout-complete-dark.html">Complete (Dark)</a></li>
                                    </ul>
                                </li>
                                <li><a href="shortcode.html">Shortcode</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="contact.html">Contact</a>
                            <ul class="sub-menu">
                                <li><a href="contact.html">Light</a></li>
                                <li><a href="contact-dark.html">Dark</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="search-box"><span class="searchtoggle"><i class="awe-icon awe-icon-search"></i></span>
                    <form class="form-search">
                        <div class="form-item"><input type="text" value="Search &amp; hit enter"></div>
                    </form>
                </div>
                <a class="toggle-menu-responsive" href="#">
                    <div class="hamburger"><span class="item item-1"></span> <span class="item item-2"></span> <span
                            class="item item-3"></span></div>
                </a></div>
        </div>
    </header> -->
    <section class="awe-parallax login-page-demo" style="background-color: #D6EAF8;padding-top: 5%;padding-bottom: 7%;">
        <div class="awe-overlay"></div>

        <div class="container" style="background-color: white;opacity: .8;border-radius: 15px;padding: 2%;">
            <h3>View Feedback</h3>

            <table class="table table-bordered" style="color: #0b0b0b;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Feedback Rating</th>
      <th scope="col">Feedback Description</th>
        <th scope="col">To</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
    {% for i in viewuserfeedback %}
  <tbody>
    <tr>
      <td>{{i.feedbackRating}}</td>
      <td>{{i.feedbackDescription}}</td>
        <td>{{ i.loginEmail }}</td>
      <td>{{i.feedbackDate}}</td>
      <td>{{i.feedbackTime}}</td>
        <td><a href="/deleteFeedback?deletefeedback={{ i.feedbackId }}">delete</a></td>
    </tr>
  </tbody>
    {% endfor %}
</table>
        </div>
    </section>

   <!-- <footer id="footer-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget widget_contact_info">
                        <div class="widget_background">
                            <div class="widget_background__half">
                                <div class="bg"></div>
                            </div>
                            <div class="widget_background__half">
                                <div class="bg"></div>
                            </div>
                        </div>
                        <div class="logo"><img src="images/logo-footer.png" alt=""></div>
                        <div class="widget_content"><p>25 California Avenue, Santa Monica, California. USA</p>
                            <p>+1-888-8765-1234</p><a href="#"><span class="__cf_email__"
                                                                     data-cfemail="ccafa3a2b8adafb88caba3aaadbee2afa3a1">[email&#160;protected]</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_about_us"><h3>About Us</h3>
                        <div class="widget_content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum vel dignissim dolor. Ut risus orci, aliquam sit amet semper eget, egestas aliquam
                            felis.</p></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_categories"><h3>Categiries</h3>
                        <ul>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Regions</a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Places of interest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_recent_entries"><h3>Recent Blog</h3>
                        <ul>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Regions</a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Places of interest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget widget_follow_us">
                        <div class="widget_content"><p>For Special booking request, please call</p><span class="phone">099-099-000</span>
                            <div class="awe-social"><a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                                    class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a
                                    href="#"><i class="fa fa-youtube-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright"><p>©2015 GOFAR travel™ All rights reserved.</p></div>
        </div>
    </footer>-->
    {% include "user/footer.html" %}
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/jquery.owl.carousel.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/theia-sticky-sidebar.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/userResorces/js/scripts.js"></script>
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-20585382-5', 'megadrupal.com');
ga('send', 'pageview');</script>
</body>
</html>